Hi <%=  @request['username_receives_like'] %> ,

<%=  @request['username_gives_like'] %> has given you a like to your review 

Check here your review and give likes to other users.


<a href="http://<%= ActionMailer::Base.default_url_options[:host] %>/profile/<%= @request['user_id_gives_like'] %>" >user_gives_you_like</a>
<a href="http://<%= ActionMailer::Base.default_url_options[:host] %>/products/<%= @request['product_id'] %>" >product_liked</a>


